#! /bin/sh

### BEGIN INIT INFO
# Provides:		eagled
# Required-Start:	$remote_fs $syslog
# Required-Stop:	$remote_fs $syslog
# Default-Start:	2 3 4 5
# Default-Stop:		
# Short-Description:	Eagle Control Server
### END INIT INFO

set -x

umask 022

CONFIG_FILE="/home/pi/src/eagle/config.json"
STATE_FILE="/home/pi/src/eagle/state.json"
EAGLESRV="/home/pi/src/eagle/eagle.py"
EAGLEOPTS="--file=${CONFIG_FILE} --state=${STATE_FILE}"
LOGGER="/usr/bin/logger -t eagle "

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin"

case "$1" in
  start)
	$LOGGER "Starting Eagle Control Server " 
	start-stop-daemon --start --verbose --oknodo --user pi --background --make-pidfile --pidfile /var/run/eagle.pid --exec $EAGLESRV -- $EAGLEOPTS
	;;
  stop)
	$LOGGER "Stopping Eagle Control Server" 
        kill -s TERM `cat /var/run/eagle.pid`
	start-stop-daemon --stop --verbose --remove-pidfile --pidfile /var/run/eagle.pid --signal TERM --exec $EAGLESRV -- $EAGLEOPTS
	;;

  reload|force-reload)
	$LOGGER "Stopping Eagle Control Server" 
        kill -s TERM `cat /var/run/eagle.pid`
	start-stop-daemon --stop --pidfile /var/run/eagle.pid --exec $EAGLESRV -- $EAGLEOPTS
	$LOGGER "Starting Eagle Control Server " 
	start-stop-daemon --start --oknodo --user pi --background --pidfile /var/run/eagle.pid --signal TERM --exec $EAGLESRV -- $EAGLEOPTS
	;;

  restart)
	$LOGGER "Stopping Eagle Control Server" 
        kill -s TERM `cat /var/run/eagle.pid`
	start-stop-daemon --stop --remove-pidfile --pidfile /var/run/eagle.pid --signal TERM --exec $EAGLESRV -- $EAGLEOPTS
	$LOGGER "Starting Eagle Control Server " 
	start-stop-daemon --start --oknodo --user pi --background --make-pidfile --pidfile /var/run/eagle.pid --exec $EAGLESRV -- $EAGLEOPTS
	;;

  status)
	start-stop-daemon --status --pidfile /var/run/eagle.pid
	#status_of_proc -p /var/run/eagle.pid $EAGLESRV eagle.py && exit 0 || exit $?
	;;

  *)
	echo "Usage: /etc/init.d/eagle {start|stop|reload|force-reload|restart|try-restart|status}"
	exit 1
esac

exit 0
